doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title=self.title
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    style.
      <!-- inject:css --><!-- endinject -->
  body
    #app
    script.
      var config = {
        title: '!{self.title}',
        backend: {
          api: '!{self.backend.api}',
          media: '!{self.backend.media}',
        },
        credentials: {
          mapbox: {
            access_token: '!{self.map.mapbox.access_token}',
          }
        },
        development: !{self.development},
        debug: {
          upload_info: !{self.dev.upload_debug}
        },
        map: {
          default_zoom: !{self.map.default_zoom},
          min_add_location_zoom: !{self.map.min_add_location_zoom},
          long_click_interval: !{self.map.long_click_interval},
          data_update_debounce: !{self.map.data_update_debounce}
        },
        location: {
          max_uploads: !{self.location.max_uploads}
        }
      }
    script.
      <!-- inject:js --><!-- endinject -->
    script(src=`https://maps.googleapis.com/maps/api/js?key=${self.map.google.api_key}&v=weekly&callback=initMap`)