doctype html
html
  head
    meta(charset='utf-8')
    title= self.title
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    style.
      <!-- inject:css --><!-- endinject -->
  body
    #map.main
    #app
    script.
      var config = {
        title: '!{self.title}',
        backend: '!{self.backend.base_url}',
        development: !{self.development},
        map: {
          default_zoom: !{self.map.default_zoom},
          update_debounce: !{self.map.update_debounce}
        }
      }
    script.
      <!-- inject:js --><!-- endinject -->
    script(src=`https://maps.googleapis.com/maps/api/js?key=${self.map.google.api_key}&v=weekly&callback=initMap`)